In [1]:
#Imports
import foursquare
import pandas as pd
import numpy as np
from scripts.constants import *
from scripts import dataframe_builder, api_request

In [6]:
# Collect new random samples
SAMPLES_TO_COLLECT = 0
api_request.collect_random_samples(SAMPLES_TO_COLLECT)

In [4]:
# Reconcile dataset with logged API responses
dataframe_builder.update_dataframe()

In [3]:
# Make requests for missing information
api_request.request_missing_information()

./data/response_logs/foursquare_venue_search.json Request Failed: 402
{"meta":{"code":402,"errorType":"credits_exhausted","errorDetail":"Credits exhausted","requestId":"61f97e4f97d7ca08b7db9d6e"},"response":{}}
./data/response_logs/foursquare_venue_search.json Request Failed: 402
{"meta":{"code":402,"errorType":"credits_exhausted","errorDetail":"Credits exhausted","requestId":"61f97e4f97c17f06cc03d235"},"response":{}}
./data/response_logs/foursquare_venue_search.json Request Failed: 402
{"meta":{"code":402,"errorType":"credits_exhausted","errorDetail":"Credits exhausted","requestId":"61f97e4fd19f121d0488d12b"},"response":{}}
./data/response_logs/foursquare_venue_search.json Request Failed: 402
{"meta":{"code":402,"errorType":"credits_exhausted","errorDetail":"Credits exhausted","requestId":"61f97e509eb5461dadf6cad6"},"response":{}}
./data/response_logs/foursquare_venue_search.json Request Failed: 402
{"meta":{"code":402,"errorType":"credits_exhausted","errorDetail":"Credits exhausted","requestId":"61f97e50fe93e5098fda73c6"},"response":{}}
./data/response_logs/foursquare_venue_search.json Request Failed: 402
{"meta":{"code":402,"errorType":"credits_exhausted","errorDetail":"Credits exhausted","requestId":"61f97e51de620d4e95df90ad"},"response":{}}

In [7]:
df = pd.read_csv(SAVE_DIR+RESULTS, index_col=0)
df

,country,city,yelp,four_square,google
"55.24601, -107.58192",Canada,La Plonge 192,0.0,1.0,0.0
"27.7847, 61.30295",Iran,Qaderabad,0.0,0.0,3.0
"53.16644, -126.31993",Canada,Ice Hill,0.0,0.0,0.0
"-17.38333, -48.4",Brazil,Palmelo,0.0,30.0,5.0
"58.32333, 100.09528",Russia,Kosoy Byk,0.0,0.0,1.0
"52.41653, 133.33867",Russia,Taloma,0.0,0.0,0.0
"-4.51811, 151.62302",Papua New Guinea,Poiniara,0.0,0.0,1.0
"46.90654, -67.38997",Canada,Plaster Rock,1.0,20.0,18.0
"66.88996, 18.40836",Sweden,Luohkáluokta,0.0,1.0,2.0
"53.16605, 139.05147",Russia,Kaygachan,0.0,0.0,0.0
"63.16667, -169.3",United States,Maknighak Camp,0.0,0.0,0.0
"-10.14447, 148.00914",Papua New Guinea,Kinikalana,0.0,0.0,14.0
"-44.48767, -65.31431",Argentina,Puerto Larrea,0.0,NaN,0.0
"17.55, 32.95",Sudan,Jabal Sa’ada,0.0,NaN,0.0
"-22.2, 131.06667",Australia,Matchee Spring,0.0,NaN,1.0
"52.03982, 0.72503",United Kingdom,Sudbury,24.0,NaN,18.0
"48.953, 3.06238",France,La Ferte-sous-Jouarre,2.0,30.0,18.0
"-0.89065, 110.78539",Indonesia,Ng Bengaras,0.0,1.0,3.0
"47.733333, 24.366667",Romania,Vişeu de Jos,0.0,30.0,18.0
"45.68893, 131.70528",China,Wudaogang,0.0,0.0,5.0
"2.73333, 10.1",Cameroon,Andjek,0.0,2.0,8.0
"-83.5, 167.35",NaN,Asquith Bluff,0.0,0.0,0.0
"54.07687, 13.80932",Germany,Wolgast,24.0,NaN,18.0
"8.58583, 45.02694",Ethiopia,Naskul,0.0,0.0,0.0
"65.82569, 14.08287",Norway,Tomyra,0.0,NaN,2.0

In [9]:
### Compare Coverage
fs = df[['country','four_square']].groupby('country').sum()
fs_countries = len(fs[fs['four_square']!= 0])
fs_venues = sum(fs['four_square'])

yelp = df[['country','yelp']].groupby('country').sum()
yelp_countries = len(yelp[yelp['yelp']!= 0])
yelp_venues = sum(yelp['yelp'])

google = df[['country','google']].groupby('country').sum()
google_countries = len(google[google['google']!= 0])
google_venues = sum(google['google'])

samples = len(df)
print(f''' 
      From {samples} samples:''')

print(f''' 
      Four Square:
      {fs_venues} venues across {fs_countries} countries
      ''')
print(f''' 
      Google:
      {google_venues} venues across {google_countries} countries
      ''')
print(f''' 
      Yelp:
      {yelp_venues} venues across {yelp_countries} countries
      ''')

      From 25 samples:

      Four Square:
      115.0 venues across 7 countries


      Google:
      135.0 venues across 15 countries


      Yelp:
      51.0 venues across 4 countries